button.nav-tab span {
    color: white;
    margin: 0 1vw; 
}

button.nav-tab span span {
    margin: 0;
}

h6.logo a {
    color: white;
    margin-left: 240px;
}

@media screen and (max-width: 600px) {
    h6.logo a {
        margin-left: 0;
    }
}