body {
    margin: 0;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* th, td {
    padding: 0 !important;
} */

/* table {
    width: 100vw;
    margin-left: 240;
} */